{# templates/produtos.html #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo }}</title>
</head>
<body>
    {% include "inc/head.html" %}

<h1>Produtos</h1>
<p>Listagem de produtos</p>

<p>Última atualização {{ "now"|date('d/m/Y H:i:s', 'America/Sao_Paulo')}}</p>

<table border="1">
    <tr>
        <th>Produto</th>
        <th>Preço</th>
    </tr>

    {% for prod in produtos %}
    <!-- Linha para repetir -->
    <tr>
        <td>{{ prod.nome }}</td>
        <td>R$ {{ prod.preco|number_format(2, ',', '.') }}</td>
    </tr>
    <!-- /Linha para repetir-->
    {% else %}
    <tr>
        <td colspan="2">Nenhum produto</td>
    </tr>
    {% endfor %}
</table>

{% include "inc/foot.html" %}
</body>
</html>
